.main-navbar-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.main-navbar-container .first {
  display: flex;
  align-items: center;
  width: 75%;
}
.main-navbar-container .first .hambuger_menu {
  display: none;
}
.main-navbar-container .first .hambuger_menu label {
  font-size: 35px;
  cursor: pointer;
}
.main-navbar-container .first .hambuger_menu input {
  display: none;
}
.main-navbar-container .first .hambuger_menu .dropdown {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 0;
  list-style: none;
  text-align: center;
  display: none;
  padding: 25px;
}
.main-navbar-container .first .hambuger_menu .dropdown .x-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main-navbar-container .first .hambuger_menu .dropdown .x-icons .x i {
  font-size: 35px;
  cursor: pointer;
}
.main-navbar-container .first .hambuger_menu .dropdown .icons i {
  border: 1px solid black;
  border-radius: 100px;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.main-navbar-container .first .hambuger_menu .dropdown li {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(161, 161, 161);
}
.main-navbar-container .first .hambuger_menu .dropdown li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.main-navbar-container .first .company-logo {
  border-right: 2px solid rgb(201, 201, 201);
  margin-right: 10px;
  padding-right: 10px;
}
.main-navbar-container .first .company-logo img {
  width: 200px;
  height: 40px;
}
.main-navbar-container .first .navbar-links a {
  text-decoration: none;
  color: black;
  margin-right: 12px;
  font-weight: 500;
}
.main-navbar-container .first .navbar-links a:hover {
  color: #009132;
  font-weight: bold;
}
.main-navbar-container .button-icons {
  width: 20%;
}
.main-navbar-container .button-icons a button {
  padding: 10px;
  background-color: #009132;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  width: 70%;
  border-radius: 10px;
  border: none;
}
.main-navbar-container .button-icons i {
  border: 1px solid black;
  border-radius: 100px;
  padding: 5px;
  cursor: pointer;
}

.smaller_screen_button {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
  padding: 10px;
  display: none;
  background-color: white;
}
.smaller_screen_button a button {
  padding: 15px;
  background-color: #009132;
  border: none;
  width: 80%;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.ad1 {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.ad1 .left_side {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.ad1 .left_side h1 {
  font-size: 4.5em;
  width: 90%;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.ad1 .left_side p {
  width: 90%;
  font-weight: bold;
}
.ad1 .left_side a {
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}
.ad1 .left_side a button {
  padding: 10px;
  width: 20%;
  background-color: #009132;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
}

.ad2 {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.ad2 .left_side {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.ad2 .left_side h1 {
  font-size: 4.5em;
  width: 80%;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.ad2 .left_side p {
  width: 75%;
  font-weight: bold;
  color: white;
}
.ad2 .left_side a {
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.ad2 .left_side a button {
  padding: 10px;
  width: 40%;
  background-color: white;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active {
  display: block;
}

.main-menu-container {
  /* Custom Arrow */
}
.main-menu-container img {
  width: 100%;
  height: auto;
  padding: 5px;
}
.main-menu-container h2 {
  text-align: center;
  padding-bottom: 1em;
}
.main-menu-container .slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.main-menu-container .slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.main-menu-container .slick-dots li.slick-active button {
  background-color: black;
}
.main-menu-container .slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.main-menu-container .slick-dots li :hover {
  background-color: black;
}
.main-menu-container .prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.main-menu-container .prev :hover {
  cursor: pointer;
  color: black;
}
.main-menu-container .next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.main-menu-container .next :hover {
  cursor: pointer;
  color: black;
}

.main-con {
  width: 100%;
  margin-top: 40px;
}
.main-con .cards-wrapper {
  display: flex;
  justify-content: center;
  height: auto;
}
.main-con .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
}
.main-con .card .some img {
  width: 300px;
  height: 290px;
}
.main-con .carousel-control-prev,
.main-con .carousel-control-next {
  background-color: #6b6b6b;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */